* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#f0f2f1;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-tarjeta {
    margin: 20px;
}

.contenedor-tarjeta a {
    display: inline-block;
}

figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform:perspective(600px) rotateY(0deg);
}

